<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303826100020-o0lst15lm59vjsut09c14gs65ptcom18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303826100020-o0lst15lm59vjsut09c14gs65ptcom18</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>303826100020-13ctmc3tpjrli332f7rm9mu1dehgv67e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7tigwewAcC5crixB35raw2ESkCS5Z0jc</string>
	<key>GCM_SENDER_ID</key>
	<string>303826100020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gomiland.gomiland</string>
	<key>PROJECT_ID</key>
	<string>gomiland-d19db</string>
	<key>STORAGE_BUCKET</key>
	<string>gomiland-d19db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303826100020:ios:6d69f2fc42ff0a5e7e4f61</string>
</dict>
</plist>